<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="index.css">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Abhishek Kumar Gupta</h1>
      <h3>Balrampur, Uttar Pradesh,India</h3>
      <div class="left">
        <p><strong>Email:</strong>abhishekkumargupta303@gmail.com</p>
        <p><strong>Phone No:</strong>+916386565025</p>
      </div>
      <div class="main">
        <h2>PROFESSIONAL SUMMARY</h2>
        <p>Self-motivated and detail-oriented Full Stack Developer with a strong foundation in front-end web
          development, C/C++ programming, and responsive design. Proficient in crafting interactive, user
          centric websites using modern web technologies. Eager to contribute to a progressive organization with a
          focus on innovation, collaboration, and real-world problem-solving. Currently seeking entry-level
          developer roles to apply my technical skills and grow within a dynamic team.</p>
      </div>
      <div class="edu">
        <h2>EDUCATION</h2>
        <h3>Bachelor of Computer Applications (BCA) </h3>
        <p>Institute of AppliedMedicines and Research, Ghaziabad, 2022-2025</p><br>
        <h3>Intermediate (12th)</h3>
        <p>Balrampur Modern Inter College, Balrampur, U.P, 2019-2020</p><br>
        <h3>High School (10th)</h3>
        <p>Balrampur Modern Inter College, Balrampur, U.P, 2018-2019</p><br>
      </div>
      <div class="skills">
        <h2>TECHNICAL SKILLS</h2>
        <ul>
          <li>Languages: C, C++, JavaScript</li>
          <li>Front-End: HTML ,CSS</li>
          <li>development Tools: VS Code, Chrome DevTools</li>
          <li>Soft Skills: Communication, Time Management, Team collaboration</li>
        </ul>
        </div>
        <div class="acce">
          <h2>ACHIEVEMENTS & CERTIFICATIONS</h2>
          <ul>
            <li>Consistently solving algorithmic challenges on LeetCode.</li>
            <li>Participated in college-level coding and technical quiz events.</li>
            </ul>
        </div>
    </div>
    <div class="content">
      <!-- <p>Welcome to the application!</p> -->
    </div>
    <div class="footer">
      <!-- <p>&copy; 2023 Your Company</p> -->
    </div>
  </div>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>